[2016-05-28 12:18] Super-Baleine opened #1 "Translation : JS to PHP"
So, there's all the JS excepted the encryption side to translate in PHP.

[2016-05-28 16:21] Super-Baleine commented on #1
Finally, we have a javascript developer.

[2016-05-28 16:21] #1 closed, assigned to dclement8

[2016-05-28 16:21] Super-Baleine opened #2 "MVC PHP"
Finish the MVC without secure it.
We'll secure it while the private beta.

[2016-05-28 22:12] Super-Baleine opened #3 "Encrypt the passphrase sessionStorage"
We have to encrypt the passphrase in the sessionStorage.

[2016-05-28 22:49] ghost commented on #3
you can use the library aeJs for this

[2016-05-28 22:50] Super-Baleine commented on #3
Yea,
Thanks <3 , I will do this later x)

[2016-05-29 11:01] Super-Baleine commented on #3
Done.

[2016-05-29 11:01] #3 closed, assigned to nobody

[2016-05-29 15:49] Super-Baleine opened #4 "Implementation of SJCL"
*CEK : Content Encryption Key, this key encrypts the files
*KEK : Key Encryption Key, this key encrypts the CEK

#Params:
- key : 256 bits
- mode : GCM
- iteration : 2048 for files and 4096 for the CEK generation
- authentification data : random string, 128 bits

#Generation Process
- Generate a random key, let's call it "CEK" for "Content Encryption Key":

[code]

- KEK is just the passphrase of

[2016-05-29 16:59] Super-Baleine opened #5 "Base features"
- **Manage folders/files**
  - [x] Rename
  - [x] Create folder
  - [x] Delete folder and its content
  - [x] Move to trash
  - [x] Empty trash
- **Favorites**
  - [x] set
  - [x] unset
- **Labels for files**
  - [ ] create label(s)
  - [ ] delete label(s)
  - [ ] associate one or several files to one or several label(s)
- **Profile**
  - [x] change username
  - [x] change password

[2016-05-29 17:02] Super-Baleine opened #6 "Brute force"
Implement a code which fight the brute force. Like :
- too much clicks (a click = an action)
- too much requests to register/connect

In javascript and PHP : one on the client-side, the other on the server-side.

If the Js tell nothing, then, verify with the PHP.
If the Js tell something, block it and don't call the PHP.

[2016-05-30 10:03] Super-Baleine opened #7 "else on conditions"
I found many conditions without "else", therefore i think there's many possibilities to fork bomb the client and perhaps the server.

[2016-05-30 10:26] ghost commented on #7
If there's just a if, that doesn't make the client or server more vulnerable.

Just that you don't catch if the "if" statement isn't fullfill

[2016-05-30 10:29] Super-Baleine commented on #7
When i was testing a Js script, my CPU worked at 100%... And, if i didn't close my web browser, i would be fork bombed.
And yea, thanks for u advices :love_letter:

[2016-05-30 10:31] ghost commented on #7
Which script ?

[2016-05-30 10:32] Super-Baleine commented on #7
log_connect.js with firefox 46 at my high school

[2016-05-30 10:34] Super-Baleine commented on #7
I'll close it, and open again if the problem come back.

[2016-05-30 10:40] #7 closed, assigned to BasilicApps, dclement8

[2016-05-30 10:41] ghost commented on #7
You made a mistake using aeJs :

[code]

Read the readme for more informations

[2016-05-30 10:41] Super-Baleine commented on #7
Perhaps... I'll retry again later.
Thanks :cupid:

[2016-05-30 20:30] Super-Baleine opened #8 "account validation"
When registered, send a validation email.

[2016-05-31 14:21] dclement8 opened #9 "display bug for the logo"
I added language selector in all views but now the logo is not centered.
Web browser : Google Chrome 50.0.2661.102 m (64-bit)
![issue1](https://cloud.githubusercontent.com/assets/19585678/15677711/be236ca2-274b-11e6-81cd-edbc6c1aca7f.PNG)

[2016-05-31 14:23] dclement8 commented on #2
Done.

[2016-05-31 14:23] #2 closed, assigned to dclement8

[2016-06-01 15:24] Super-Baleine opened #12 "AES - Passphrase & ./proton"
We're using AES only with passphrase, not with private key.

So, we have to stock the passphrase like a password, and the proton folder is now useless. Because the proton folder was created to stocks private keys.

In fact, we have to consider the passphrase exactly as a password.

Hash it with sha512.

[2016-06-01 15:55] Super-Baleine commented on #12
Look, this function is now obsolete :
function uploadKeys() {

[2016-06-01 21:48] Super-Baleine commented on #9
@BasilicApps and if you can write a css for the select language please...
Because in Firefox this is very ugly xD

[2016-06-02 08:48] dclement8 commented on #12
Done.

[2016-06-02 08:48] #12 closed, assigned to BasilicApps, dclement8

[2016-06-02 08:54] dclement8 commented on #6
In the PHP side it's done.
I think it's not useful in Js because with Ajax we already get result from php addUser function (with implementation of AntiBruteforce class)

[2016-06-02 09:03] Super-Baleine commented on #6
Okay, we'll see that later together.

[2016-06-02 20:40] Super-Baleine commented on #5
We have to create a function which allows the user to delete his account.

[2016-06-04 09:48] Super-Baleine commented on #8
@hitoshi54 try to use this SMTP server :
![capture du 2016-06-04 11 48 16](https://cloud.githubusercontent.com/assets/13090164/15798896/47105a38-2a4a-11e6-9319-c7b2e564cfed.png)

[2016-06-04 10:00] Super-Baleine commented on #6
Okay, done.

[2016-06-04 10:00] #6 closed, assigned to BasilicApps, dclement8

[2016-06-10 21:50] Super-Baleine opened #16 "Limitations warning"
Before encrypt & upload, open a dialog box which says that if the file is large, the encryption can crash the PC.

If the user confirm, then : encrypt and upload, else
do not encrypt, do not upload.

[2016-06-12 01:30] Super-Baleine commented on #16
I think is better to ask if the user really want to encrypt and upload its files while warn it that encryption might be long.

[2016-06-15 14:44] Super-Baleine opened #17 "Change passphrase in the Profile page"
- The user redefines his KEK (alias "passphrase") (done)
- The CEK (which is stored in sessionStorage as "cek") is encrypted under the new KEK (done)

- The encrypted CEK is stored in the database (TODO)
- The KEK replaces the old KEK in sessionStorage("kek", kek) (done)

**DON'T SEND THE KEK TO THE SERVERS, DON'T!**

[2016-06-15 14:45] Super-Baleine commented on #17
I propose to translate AEjS in python, like that, the passphrase change will be effectuated in backend.

[2016-06-17 12:47] Super-Baleine opened #18 "Synchronization"
For each reload (example : when the user tape F5);
 then --> get the user information, such as :
- Labels
- Get the tree (arborescence in french)
- etc...

Like if the user logging in

[2016-06-17 13:08] Super-Baleine commented on #8
@hitoshi54 can i close this issue or it's not finish ?

[2016-06-18 16:20] Super-Baleine commented on #17
I have a solution to begin :
We can download & decrypt all files, delete all files in the server, and encrypt & upload with the new passphrase.

[2016-06-19 19:29] #8 closed, assigned to dclement8

[2016-06-26 03:05] Super-Baleine opened #19 "bug report"
Make a button to report any bug.

The bug have to be sent to : muonium@protonmail.ch

The report message must contains :
- OS (Linux/Unix/BSD, Mac, Windows...)
- Web browser (Firefox, Chromium...)
- Web browser version (Firefox -> 47.0)
- email address of the reporter
- message

[2016-06-27 02:22] Super-Baleine opened #20 "Double auth"
- If the double auth is activated in the settings by the user then
  - send a code like this : "Miu-0565565"

The double auth is not activated by default.

In the register page, add a checkbox :
**Do you want to active the double authentication ?**

We have to add a column in the table of the database for this.

[2016-06-27 02:32] Super-Baleine commented on #5
@muonium/core_developers  don't forget to tick the checkbox when a feature is done.

[2016-06-29 20:25] Super-Baleine opened #21 "registered delay"
If the user was not connected for 6 months, then delete his account and his files.

[2016-07-11 11:27] Super-Baleine opened #23 "Disable right click"

[2016-07-11 11:29] Super-Baleine opened #24 "Clique droit"
This is the copy of the conversation between @hitoshi54 and me, and i'm too lazy to translate it, and we haven't any contributors, so, we do not care for the language of this issue.

**(Sur un fichier) (dans l'ordre) (FR - EN)**
- Télécharger - Download
- _(séparateur)_
- Favori - Star (donc mettre le fichier en favoris quoi, c'est comme un label en gros)
- _(séparateur)_
- Couper - Cut
- Copier -

[2016-07-15 23:01] Super-Baleine commented on #24
@hitoshi54 j'ai update l'issue.
Bon, c'est la seule qu'on fait en FR, là j'avais juste grave la flemme de traduire x)

[2016-07-20 20:56] Super-Baleine opened #27 "use .json file"
This is a very minor issue.
https://github.com/quantacloud/core/blob/master/index.php#L8

use .json translation files for this.

[2016-07-22 16:34] Super-Baleine commented on #18
@hitoshi54 i updated this issue

[2016-07-22 16:37] Super-Baleine commented on #18
@quantacloud/core_developers and i propose to create a button "Reload" which reload the page.

[2016-07-24 13:11] Super-Baleine commented on #23
Done by hitoshi54 (Dylan).
Thanks my love :heart:

[2016-07-24 13:11] #23 closed, assigned to dclement8

[2016-07-24 19:28] Super-Baleine opened #28 "Change text"
QC to Miu

[2016-07-24 19:34] Super-Baleine commented on #28
@hitoshi54 while u code, check if you find "Quanta" and replace it by "Muonium" pls
And if a function is QC, you can change it to "Miu"

[2016-07-25 15:05] Super-Baleine commented on #28
updated

[2016-07-25 15:09] Super-Baleine commented on #28
I saw "var QuantaCloud" in Request.js in Interface/
In the view User.php, therefore you have : onclick quanta cloud blablabla

[2016-07-27 16:00] Super-Baleine opened #29 "Uploading process"
Uploading process
- Before uploading : checksum
- After uploaded : checksum

[PDF of the algorithm](https://github.com/muonium/core/files/400574/algo_pload.pdf)

![algo](https://cloud.githubusercontent.com/assets/13090164/17341435/e3ccdd1e-58f4-11e6-9b81-d118057bcae4.png)

[2016-07-31 13:48] Super-Baleine commented on #24
updated

[2016-08-01 09:33] dclement8 commented on #19
Done.

[2016-08-01 09:33] #19 closed, assigned to dclement8

[2016-08-01 11:34] Super-Baleine commented on #16
I think that's useless if we close #29

[2016-08-02 17:14] Super-Baleine commented on #29
So, there's the algorithm. The schema will be published later.

![algo_pload](https://cloud.githubusercontent.com/assets/13090164/17337892/09baaca0-58e5-11e6-88c5-9e9430525bd7.png)

[algo_pload.pdf](https://github.com/muonium/core/files/397643/algo_pload.pdf)

[2016-08-04 19:54] dclement8 commented on #20
Double auth by sending an email with a code to the user ?

[2016-08-04 20:17] Super-Baleine commented on #20
Yea

[2016-08-04 21:14] dclement8 commented on #21
Done.

[2016-08-04 21:14] #21 closed, assigned to dclement8

[2016-08-04 21:36] dclement8 commented on #28
Not used for now but I will change soon

[2016-08-04 21:38] Super-Baleine commented on #28
K'ay

[2016-08-05 21:34] dclement8 commented on #20
Done

[2016-08-05 21:34] #20 closed, assigned to dclement8

[2016-08-05 21:35] Super-Baleine commented on #20
Did you test your code before pushing to 'master' ?

[2016-08-05 21:58] dclement8 commented on #20
Of course

[2016-08-06 08:11] Super-Baleine commented on #20
"Of course", it's not very obvious XDD
Okay, fine :whale:

[2016-08-06 09:10] dclement8 commented on #24
C'est fait ;)

[2016-08-06 09:22] dclement8 commented on #27
Done.

[2016-08-06 09:22] #27 closed, assigned to dclement8

[2016-08-06 09:30] Super-Baleine commented on #24
Okay, i reopen because the actions are not coded yet.

[2016-08-06 09:36] Super-Baleine opened #31 "Change passphrase - limits"
Avert the user that it can change its passphrase only 2 times per month.

[2016-08-08 11:07] dclement8 commented on #31
I added limitation but for now the user datum is not deleted (because user storage is not coded yet)

[2016-08-08 17:40] Super-Baleine commented on #31
Okay

[2016-08-12 13:41] Super-Baleine commented on #31
@hitoshi54 okay, so, we cannot recovery the passphrase if lost.
It was a mistake to code this temporary feature with the passphrase not hashed.

[2016-08-23 09:54] Super-Baleine opened #32 "hotkeys"
**General**
- [x]  [esc] : hide the active content (like the "box" on the right click) - cancel
- [x] [CTRL+D] : disconnect
- [x]  [del(EN)/suppr (FR)] or [CTRL+T] : move to trash
- [x] CTRL+A : select all the files and folders
- [x] CTRL+R : move to trash
- [x] ARROWS : Navigate between files and folders
- [x] CTRL + C : Copy
- [x] CTRL + X : Cut
- [x] CTRL + V : Paste
- [x] ENTER : download the

[2016-08-27 04:46] Super-Baleine commented on #31
Hum, i think we have not to care about this issue for now.

[2016-08-27 04:47] Super-Baleine commented on #31
Oups, mistake, sorry.

[2016-08-27 04:52] Super-Baleine commented on #18
We can code a function which broadcasts the changes for all the sessions via the models.

[2016-08-28 10:51] Super-Baleine commented on #28
@hitoshi54 more of that, can you translate the french variable names in English please ?

[2016-09-01 13:44] dclement8 commented on #28
Done. Where are the french variable names ?

[2016-09-01 18:01] Super-Baleine commented on #28
I saw some french variables there are some weeks ago, but maybe you corrected

[2016-09-01 18:14] #28 closed, assigned to Super-Baleine, dclement8

[2016-09-02 15:26] ghost opened #33 "Can't create worker with sjcl"
SJCL use window.crypto which's not accessible in workers. You must change to another library to do that.

[2016-09-02 17:50] Super-Baleine commented on #33
Currently, we use SJCL, but we'll see for openPGP.js, which normally supports AES, because it comply the openPGP "rules".

[2016-09-02 17:50] #33 closed, assigned to nobody

[2016-09-02 17:56] Super-Baleine commented on #33
Please, also, check our uploading process #29 , we do not encrypt all the file, but the divided parts, called "modules".

We didn't test the process yet, we'll test it later.

[2016-09-02 18:00] Super-Baleine commented on #29
SJCL cannot works with workers. So no threading for the case 4.

[2016-09-06 12:12] dclement8 commented on #32
[CTRL+D] = add a favorite in Google Chrome, maybe [CTRL+L] is a better solution ?

[2016-09-06 17:27] Super-Baleine commented on #32
Oh yea, that's true ! But, we cannot block this kind of shortcut ?

[2016-09-06 19:15] ghost commented on #32
You can ! e.preventDefault(); with e the event in the onkeydown, onkeyup, onkeypress events

[2016-09-06 19:17] Super-Baleine commented on #32
Yea, i saw this there is a few minutes ago x)

Thanks :heart:

[2016-09-06 19:37] ghost commented on #32
But careful to not apply it directly in keypress events. If you do that, you'll be able to type anything. Be sure to use it when you detect CTRL + D or any keyboard shortcut you want to change.

[2016-09-06 19:38] Super-Baleine commented on #32
@hitoshi54
(my knight is the programmer, not me xD) (+1 for the nick name ?)

[2016-09-06 20:35] ghost commented on #24
you can add a new file when clicking nowhere

[2016-09-06 20:36] Super-Baleine commented on #24
**"Charger des fichiers... - Upload files..."** in **"(Dans le vide) (idem) (idem)"**

[2016-09-06 20:42] ghost commented on #24
i see it but you didn't have "Create a new file" on your actions' list

[2016-09-06 20:44] Super-Baleine commented on #24
Oh, yea, nope. Because we work only with the end-to-end principle.
Okay, to change the passphrase, we will make an exception

[2016-09-06 20:52] Super-Baleine commented on #4
Check this issue for more informations #29

[2016-09-06 21:05] dclement8 commented on #32
@Ne0blast I tried with preventDefault(); and it works, thanks !

[2016-09-12 20:29] Super-Baleine opened #34 "delete account"
The user have to be able to delete its account.
- delete all which refer to its existence on Mui

# Process
- Create a button "Delete account" in the profile page.
 - When the user clicks, ask: "Do you really want to delete your account ?"
 - If yes, then: "Type your password there: "
 - if the password is true, the delete all the user's files and folders and the user itself.
- delete the files an

[2016-09-15 18:53] Super-Baleine commented on #32
updated : CTRL+A

[2016-09-16 17:59] Super-Baleine opened #35 "Upload of a same file"
When uploading a file already existing on the current folder, replace the file by the new file being uploaded. Also update the database, don't create a new record.

check [here](https://github.com/muonium/core/issues/35#issuecomment-247677155)

[2016-09-16 18:23] ghost commented on #35
I suggest you to not replace the file but to upload the with another name. For example :
- Current filename in a directory : filename.txt
- Uploaded file : filename_0.txt
  But do not replace or show a messageBox with a message like : "filename.txt already exists, do you want to replace it ? ". If not : rename it else do it ;)

It's just a suggestion :)

[2016-09-16 18:26] Super-Baleine commented on #35
Yea, thanks, thats cool x)
It's just a post-it for Dylan, so, we haven't talk about it yet x)

[2016-09-16 18:29] ghost commented on #35
k' ;)

[2016-09-16 18:30] Super-Baleine commented on #35
We can also make it like MEGA.nz : upload the file, name it like the older file, and you make the difference with the last modification...

[2016-09-16 18:31] ghost commented on #35
Or the id, with the database, you can do that but it's confusing to have files with the same name ;) i think.

[2016-09-16 18:38] Super-Baleine commented on #35
You cannot see the id of the file with the webapp, it's the technical side ^^

But the last modification is shown x)

[2016-09-16 18:41] ghost commented on #35
True :) But i still think that having 3 files with the same name is a bit confusing :)

[2016-09-16 18:43] Super-Baleine commented on #35
Yea, i think so xD
But the user have to be a little intelligent by renaming before uploading, doesn't ?

But letting him the choice is the better solution indeed.

[2016-09-16 18:44] ghost commented on #35
Or what you can if you detect that a name have already been take, show a messagebox with possibility to rename the file that'll be upload.

[2016-09-16 18:45] Super-Baleine commented on #35
I agree with that solution, think thats the better

[2016-09-16 18:46] ghost commented on #35
Talk to Dylan about that, i think he'll agree too :)

[2016-09-16 18:46] Super-Baleine commented on #35
I linked him your comment about it.

[2016-09-18 04:02] Super-Baleine commented on #35
I reopen with the idea, because this issue is done.

[2016-09-18 04:02] #35 closed, assigned to dclement8

[2016-09-18 04:03] Super-Baleine opened #36 "Ask the user before replacing"
Open a messagebox and ask the user to change replace or not the file if it already exists on the servers.

check here please : https://github.com/muonium/core/issues/35#issuecomment-247677155

[2016-09-18 15:44] dclement8 commented on #32
@Super-Baleine I can't check "CTRL+A" checkbox x)

[2016-09-18 17:54] Super-Baleine commented on #32
Okay, i did it.

That was because you weren't assigned i think.

[2016-09-18 18:12] #31 closed, assigned to dclement8

[2016-09-19 10:33] Super-Baleine opened #38 "hotkey 'enter'"
When logging, pressing enter allow the user to log in and for the register form.
Clicking on the button haven't to be required.

[2016-09-19 21:30] dclement8 commented on #38
Done.

[2016-09-19 21:30] #38 closed, assigned to dclement8

[2016-09-21 15:07] Super-Baleine opened #39 "Change email"
The user have to be able to change his email on the profile page.

[2016-09-22 17:59] Super-Baleine commented on #32
I think we can close this issue, the main hotkeys are coded, nope ?

[2016-09-24 10:52] Super-Baleine opened #40 "Problem to download"
I cannot download .hex and others.
- Perhaps it's the mime type fault

[2016-09-30 17:36] ghost commented on #40
You can test :
`header("Content-Type: application/octet-stream");` instead of `header("Content-Type: application/force-download");`

`header("Content-Type: application/force-download");` is a hack that must be avoided ;)

[2016-09-30 17:42] Super-Baleine commented on #40
Yea, look at the last commit :)
This issue have to be closed...
@hitoshi54 think to close the issues, look... xD

[2016-09-30 17:47] ghost commented on #40
My bad :D

[2016-10-01 07:22] Super-Baleine commented on #32
updated

[2016-10-01 07:41] ghost commented on #32
If you want to use "applications" to view images, videos, edit text, etc... You must do a system to detect the focused application to use the hotkeys for the specified application and not hotkeys of the global interface ;)
For example, if you open an application, you can attribute a class "active" and then, when you detect a hotkey, you can test which application is focused and so active or not th

[2016-10-01 07:44] Super-Baleine commented on #32
Hmmm, it's not planned to use applications. Because we have to do all of that in JavaScript, and we haven't any Js developer.

We are making general shortcuts, we will see later to implement some others web applications... It requires too much time, for now.

But thanks, we take this advice !

[2016-10-01 07:46] ghost commented on #32
If you want, you can check this :
[https://github.com/Ne0blast/cosmos/blob/master/js/window.js](https://github.com/Ne0blast/cosmos/blob/master/js/window.js)

And this, if you want to create quickly applications (for the future) :
[https://github.com/Ne0blast/cosmos/tree/master/apps](https://github.com/Ne0blast/cosmos/tree/master/apps)

You can use my system and then develop it to your liking :)

[2016-10-01 07:48] Super-Baleine commented on #32
Ahah xD Little vicious ! xD

Yea, you use the Apache V2 license, therefore we will perhaps implement some CosmOS app.

[2016-10-01 07:51] ghost commented on #32
:D haha, it's just to help you.

Futhermore, i couldn't help you more with the work i've this year. I only develop the week-end (the sunday) but i really want you to succeed :)

[2016-10-01 07:53] Super-Baleine commented on #32
Yea, thank you x)

I know, thanks ! x)

[2016-10-01 07:54] ghost commented on #32
Perhaps, later, if i've more time, maybe i'll fork your project to help you again with the design (if you want). We'll see that in the future.

[2016-10-01 07:57] Super-Baleine commented on #32
Oh, that could be cool !

[2016-10-01 08:01] ghost commented on #32
A little addition for the shortcut :
- [ ] ESC : Unselect all elements
- [ ] ARROWS : Navigate between elements
- [ ] CTRL + clic : Select multiple elements
- [ ] CTRL + C : Copy
- [ ] CTRL + X : Cut
- [ ] CTRL + V : Paste
- [ ] ENTER : Open element or open directory (if an element is focused)
- [ ] CTRL + D : Download (proposition)
- [ ] CTRL + L : Logout (proposition)

Instead of CTRL + D" for d

[2016-10-01 08:02] Super-Baleine commented on #32
CTRL + clic : Select multiple elements
done

[2016-10-01 08:03] Super-Baleine commented on #32
updated

[2016-10-01 19:58] Super-Baleine commented on #32
Answer to the edit for @Ne0blast :
Nope, CTRL+D = Disconnect in MySQL, Shell/Bash/etc., and others things like that. CTRL+L is longer than CTRL+D.

[2016-10-01 20:07] Super-Baleine opened #41 "Quick issue :: Favicon"
Hey, can you display the favicon please ? x)

A screen of my Firefox tab (you see, it's soooo blank...)
![capture du 2016-10-01 22 07 25](https://cloud.githubusercontent.com/assets/13090164/19016746/6bf317dc-8823-11e6-995e-667e846e7020.png)

[2016-10-02 09:00] Super-Baleine opened #42 "Quick issue :: focus textbox"
In the login and register page, focus the email address textbox.

Like that, the user just have to enter its email and type "tab" without clicking anywhere.

[2016-10-02 09:10] Super-Baleine commented on #32
@hitoshi54  Hmm, finally, we already have "del" to delete an item, therefore, we keep CTRL+R or not ?

[2016-10-02 09:32] Super-Baleine commented on #40
@hitoshi54
UPDATE, i reopen because there is another problem of this kind :

i created ./test_test/test-/ , i entered, put a file, all it's okay.
But i cannot download it, same problem.
![capture du 2016-10-02 11 33 49](https://cloud.githubusercontent.com/assets/13090164/19019800/f45d03f6-8893-11e6-8e67-9842e058e60d.png)

Also, same problem even if the folders are named just "test".
To resume, it

[2016-10-03 18:19] Super-Baleine commented on #40
Solved, gg my love.

[2016-10-03 19:08] Super-Baleine opened #44 "Be able to log in with pseudo"
The user have to be able to log in with its email (ok) **OR its pseudo.**

[2016-10-03 19:31] Super-Baleine opened #45 "Cancel upload"

[2016-10-03 19:52] Super-Baleine commented on #40
@hitoshi54 i'm so sorry to find again this shitty bug... :'(
Post-it : same as the precedent, but only on the ROOT.

[2016-10-05 05:48] dclement8 commented on #41
Hi, done.

[2016-10-05 05:48] #41 closed, assigned to dclement8

[2016-10-05 06:03] dclement8 commented on #42
Done.

[2016-10-05 06:03] #42 closed, assigned to dclement8

[2016-10-05 19:55] Super-Baleine opened #46 "Copy/paste - Cut/paste"
[FILES]
- Copy : file to a folder : **OK**
- Copy : file in the same folder, this create {file name} (Copy) : **OK**
- Cut : works fine

[FOLDERS]
- Copy a folder in a folder : **OK**
- Copy a folder in the same path, this create {FolderName} (Copy) : **OK**

_**BUT !**_
If a folder contains : an another folder : **Doesn't work**

Also, the page isn't refreshed when the bug appears

[2016-10-05 20:08] Super-Baleine opened #47 "Quick issue :: Enter key at Login & Register"
[Enter key] : do the same action than the buttons "Login" and "Register"

[2016-10-06 16:35] dclement8 commented on #44
Done.

[2016-10-06 16:35] #44 closed, assigned to dclement8

[2016-10-07 20:32] Super-Baleine opened #48 "error document"
- [ ] 404, page not found
- [ ] 500, internal error

@hitoshi54 is on the idea, please, do not work on this issue for now.

[2016-10-07 20:35] #47 closed, assigned to dclement8

[2016-10-07 21:09] Super-Baleine opened #49 "error while uploading a file"
not for each time i do it, but, sometime, and too much times, when i'm uploading a file (picture.png 732KB), the file is like it was canceled.

Contrary to, sometime, the file is properly uploaded.

But it works fine for the others files...

And sometime, i have to refresh the page to see the file uploaded.

**Bug on Firefox AND Chromium**

[2016-10-07 21:15] Super-Baleine commented on #49
Okay, i noticed that the file continues to be uploaded (my swich's LED shows it), but it's not displayed.
The text which displays the file which is uploading disappears... At the end (when my switch's LED returns to its normal state) i reload the page --> indeed, the file is uploaded.

EDIT : Yea, that's it, the file continues to be uploaded, but the interface doesn't show it...

The problem doesn

[2016-10-08 05:17] dclement8 commented on #45
Done.

[2016-10-08 05:17] #45 closed, assigned to dclement8

[2016-10-08 16:24] Super-Baleine commented on #32
updated

[2016-10-13 18:24] ghost commented on #32
If you want to download a folder, you must zip it before

[2016-10-13 18:29] Super-Baleine commented on #32
of course, but wait please xD
We are coding a new "structure" for the files/folders managements... And we have many others features...

[2016-10-15 19:39] Super-Baleine commented on #49
Solved by @hitoshi54

[2016-10-15 19:39] #49 closed, assigned to dclement8

[2016-10-15 19:39] Super-Baleine commented on #46
Solved by @hitoshi54

[2016-10-15 19:39] #46 closed, assigned to dclement8

[2016-10-16 06:29] Super-Baleine commented on #40
Okay, the problem appeared again : i cannot download the files stored at the root.

[2016-10-16 18:57] Super-Baleine commented on #40
@hitoshi54 gj :heart:

[2016-10-16 18:57] #40 closed, assigned to dclement8

[2016-10-19 15:27] Super-Baleine opened #52 "multiple copies of a same file"
toto.txt -copy-> toto.txt (Copy)

but toto.txt (Copy) -copy-> toto.txt (Copy) <-- the file cannot be removed.

The file is removed as a file, but not as an data in the db.

[2016-10-19 15:31] Super-Baleine commented on #52
update

[2016-10-20 09:38] Super-Baleine commented on #32
@Ne0blast if you have some shortcuts, tell us x)

[2016-10-21 14:39] Super-Baleine opened #53 "Deletion"
toto.txt in test/

trash toto.txt.

When toto.txt is in the trash, you cannot delete it definitively.

To delete it definitively, you have to delete test/, folder which is not in the trash.

[2016-10-24 18:41] Super-Baleine opened #54 "Arrows shortcut"
arrow N+1 item

[2016-10-30 13:31] ghost opened #55 "Question : library\MVC\Model.php"
In the file library\MVC\Model.php, you declare $_sql as protected and static variable but you attempt to use dynamically with $this.

Isn't it better to use self:: instead of $this, particularly in the __construct function with :
`
self::$_sql = new \PDO('mysql:host='.conf\confDB::hostDefaut.';dbname='.conf\confDB::bddDefaut,conf\confDB::userDefaut,conf\confDB::passDefaut);
        self::$_sql->se

[2016-11-03 16:11] dclement8 commented on #55
I updated, thanks ;)

[2016-11-03 16:11] #55 closed, assigned to dclement8

[2016-11-03 16:20] ghost commented on #55
Np :)

[2016-11-11 11:00] dclement8 commented on #52
Corrected.

[2016-11-11 11:00] #52 closed, assigned to dclement8

[2016-11-11 11:01] Super-Baleine commented on #52
gj my love :heart:

[2016-11-11 13:13] dclement8 commented on #54
Corrected.

[2016-11-11 13:13] #54 closed, assigned to dclement8

[2016-11-11 14:42] dclement8 commented on #53
Corrected.

[2016-11-11 14:42] #53 closed, assigned to dclement8

[2016-11-13 20:39] Super-Baleine opened #57 "check if the item does exist"
When the user execute an action on an item, check if it exists in the database AND physically before executing the action wanted.

[2016-11-13 22:00] Super-Baleine opened #59 "display the file uploaded"
Sometimes, the display of the uploaded file don't work, I've to back (cd ..) and come back to the folder to see the file.

This problem don't appear for the first time, before it was solved, but it reappeared.

[2016-11-13 22:09] Super-Baleine opened #60 ""View details""
When the user do right click and "view details", he has to see:

That's not in the order
- Location
- Size
- Last modification
- Icon
- Name

[2016-11-14 00:56] Super-Baleine opened #61 "Quick issue :: title of 'General'"
That isn't "Profile" but "Files" or something like that...

![capture du 2016-11-14 01 58 37](https://cloud.githubusercontent.com/assets/13090164/20250319/b1fc019c-aa0d-11e6-8c5a-48154140a4b9.png)

I propose to name the title like that :

**Mui :: Location** where Location is "General", "Shared", etc.

[2016-11-14 01:29] Super-Baleine commented on #32
updated : RETURN

[2016-11-15 19:34] Super-Baleine opened #62 "Quick issue :: Bug"
/Bug isn't accessible from the web interface.

The "button" isn't coded... xD

[2016-11-15 20:36] Super-Baleine opened #63 "Quick issue :: Open button"
On the right click, the "button" "Open" with the eye don't work.

[2016-11-15 21:30] Super-Baleine opened #64 ""the interface is not ready yet""
At the login, change it to "Private Beta, welcome to the whales kingdom".

[2016-11-16 20:59] dclement8 commented on #64
Done.

[2016-11-16 20:59] #64 closed, assigned to dclement8

[2016-11-16 20:59] dclement8 commented on #63
Done.

[2016-11-16 20:59] #63 closed, assigned to dclement8

[2016-11-16 21:00] dclement8 commented on #61
Done.

[2016-11-16 21:00] #61 closed, assigned to dclement8

[2016-11-16 21:00] dclement8 commented on #62
Done.

[2016-11-16 21:00] #62 closed, assigned to dclement8

[2016-11-16 21:00] Super-Baleine commented on #64
Great xD

[2016-11-17 15:02] Super-Baleine opened #65 "Copy/cut/paste"
On Windows 7, Firefox 50 :

When I copy and paste a folder toto/, the folder toto/ is named toto (1)/  for each copy.

Therefore I have :

toto/
 toto (1)/
 toto (1)/

but i havent toto (n+1)/

[2016-11-17 15:10] Super-Baleine opened #66 "deletion of elements in the database or physically"
**THIS INST THIS FIRST TIME ON THIS BUG HAPPENS**

I don't really know how this happens, but :

Sometimes, the element(s) deleted aren't deleted in the database, and sometimes they're deleted in the database but not physically.

Please, note that this bug happens very often and randomly, we've to solve it as soon as possible.

[2016-11-17 15:12] Super-Baleine commented on #65
Update of the bug informations : now it works fine. this bug happens randomly, or when the connection is slow I think... Don't deal with this bug right now, I have to check if that's really a bug or a problem with a slow connection.

(slow connection from my high school, when i'm at home, all is gonna good)

[2016-11-17 15:14] Super-Baleine commented on #66
Update : this bug happens randomly, but more often when the connection is slow.

that's why i think we have to check again the code which permit us to manage the elements.

but, contrary to #65 , this bug is real, that's not a problem of connection.

it happens less often when I'm at home with a good connection, but it happens often when i'm at school, testing Muonium on Windows 7 firefox 50.

[2016-11-17 15:19] Super-Baleine opened #67 "verification of the elements"
element = folder or/and file
virtually = in the database

- [ ] When the user do an action on a element, check if the element exists

- [ ] When the user enter in a folder, check if the content exists physically and virtually, if not --> delete it

When the user enter in a folder, don't check recursively, just check if the elements in the folder entered exists, no more.

[2016-11-17 18:49] Super-Baleine commented on #66
update 2 : shit, i'm at home, and i retested... all works fine... I don"t know if this shit is a real bug or not...

Please, can you just review your code please ?

[2016-11-17 18:49] #66 closed, assigned to dclement8

[2016-11-17 18:50] Super-Baleine commented on #65
same with #66 , can you review you code please ? just a little to be sure that it the browser's fault xD

[2016-11-17 18:50] #65 closed, assigned to dclement8

[2016-11-17 22:06] dclement8 commented on #32
Done

[2016-11-17 22:06] #32 closed, assigned to dclement8

[2016-11-27 18:11] Super-Baleine opened #68 "Reset the Content Encryption Key"
*KEK : Key Encryption Key
*CEK : Content Encryption Key

1. Delete the CEK from the database
2. Delete all the user's files/folders
3. The user re-defines his KEK (alias "passphrase")
4. The new KEK is sessionStorage("kek", kek)
5. A new CEK is generated
6. The new CEK is sessionStorage("cek", cek)
7. The new CEK is encrypted and base64encoded
8. The new encrypted CEK is stored in the DB
9. logout

[2016-11-27 21:24] Super-Baleine commented on #4
Updated with little examples.

[2016-11-27 22:42] Super-Baleine opened #69 "register - generate the key"
https://github.com/muonium/core/issues/4
When the user creates its account, provide him a generated key #Generation Process

Encrypt the generated key, and store it on the database.

@hitoshi54 you have to create a new field for the encrypt key alias CEK in the database.

[2016-11-28 18:07] Super-Baleine commented on #4
@TODO for @muonium/core_developers:

- $_t->AddJs my js implementation in the views, the js scripts are located at public/js/src/crypto/implementation
- Encrypt & Decrypt the file with crypt_files.js
- Decrypt and store in a cookie the CEK with crypt_cek.js

May this is be able to help you:

![sjclimplementation](https://cloud.githubusercontent.com/assets/13090164/20680237/7b4f397e-b59e-11e6-96a9-

[2016-11-28 18:21] Super-Baleine commented on #4
Process:
![diagramme1](https://cloud.githubusercontent.com/assets/13090164/20680548/c28994dc-b59f-11e6-869a-ade6944e9753.png)

**NOTE : CEK is decrypted by the user's passphrase, but the files are encrypted/decrypted by the decrypted CEK**

[2016-11-28 18:29] Super-Baleine commented on #69
I close this issue cuz we already have this topic at #4

[2016-11-28 18:29] #69 closed, assigned to dclement8

[2016-11-28 18:30] Super-Baleine commented on #68
@muonium/core_developers updated

[2016-11-28 18:43] Super-Baleine opened #70 "Should we encode/decode base64 the files on the server ?"
The file is encoded at the client-side, but the web browser can freeze because of the resources that takes the base64 encoding/decoding for large files...

Then, I think that'd be better to encode/decode base64 the file at the server side.

What about you ?

[2016-11-28 18:47] Super-Baleine commented on #29
This issue is has been now.

[2016-11-28 18:47] #29 closed, assigned to eibay, Super-Baleine

[2016-11-28 20:30] Super-Baleine opened #71 "store the CEK storage (locally)"
Store the CEK and the KEK (alias "passphrase") in the sessionStorage when the user log in.

[2016-11-28 20:41] Super-Baleine commented on #70
We encode

[2016-11-28 20:41] #70 closed, assigned to eibay, dclement8

[2016-11-28 20:44] Super-Baleine commented on #17
updated.

[2016-11-28 20:44] Super-Baleine commented on #17
updated with a diagram

[2016-11-28 22:50] Super-Baleine opened #73 "MongoDB migration"
Have to be done before February.

[2016-11-29 18:49] Super-Baleine opened #74 "Quick issue :: add the italian translation"
The italian translation is it.json in public/translations.

I put it, you don't have to search it elsewhere.

[2016-12-01 19:42] Super-Baleine commented on #34
@ayagebreel I updated the issue with "# Process"

[2016-12-01 21:35] Super-Baleine commented on #71
updated: that was a mistake, just store the CEK and the passphrase in the sessionStorage.

[2016-12-01 21:40] Super-Baleine commented on #9
updated: the assignees

[2016-12-02 06:42] Super-Baleine opened #75 "Question :: Should we move 2FA to 'Settings' from 'Profile' ?"
2 factors authentication is better at 'Settings', cuz that isn't a profile parameter...

[2016-12-02 06:44] Super-Baleine commented on #74
@hitoshi54 you cloud have closed it x)

[2016-12-02 06:44] #74 closed, assigned to nobody

[2016-12-03 10:19] Super-Baleine opened #76 "Changing my password"
When I click on "Submit query", the gif appears but nothing more...

A contrary to this, the password recovery by "Password your forgot ?" works fine xD

[2016-12-04 09:19] Super-Baleine commented on #9
updated assignees

[2016-12-04 14:30] Super-Baleine commented on #60
Updated: issue's content + assignments

[2016-12-04 15:28] Super-Baleine commented on #36
updated

[2016-12-04 19:54] Super-Baleine opened #77 "right click -> "open" eye button"
When I click on "Open" (on a folder with the right click) nothing happens.

- Nothing on the JavaScript console

[2016-12-06 13:29] Super-Baleine opened #78 "Important :: add timer for actions"
**_To do quickly_**

The user have to be able to do **JUST ONE action per second.**

Actually, if you copy-paste too much times in a small time, you can fork bomb the server (MySQL requests take too much resources).

[2016-12-09 05:42] Super-Baleine opened #79 "robots.txt"
Hey, we don't care about robots.txt, right? I think we can delete it... that's useless you know...

**on github i mean**

[2016-12-09 08:30] ghost commented on #79
Do some researches before posting something like that... It's not useless like you say, it's for the SEO :
[https://moz.com/learn/seo/robotstxt](https://moz.com/learn/seo/robotstxt)

[2016-12-09 08:32] Super-Baleine commented on #79
On GitHub i mean.

[2016-12-09 08:37] Super-Baleine commented on #79
updated @Ne0blast , thx

[2016-12-09 08:59] ghost commented on #79
Ah sorry ;) If it's on GitHub, i've nothing to say ^^

[2016-12-09 09:03] Super-Baleine commented on #79
No problem.
The relative questions to the "Muonium's SEO management" haven't their place there. There, that's only to code, not for SEO or infra' questions... You know what I mean x)

Consequently, this kind of questions is generally about GitHub, even if exceptions exist... 🐳

[2016-12-12 22:28] #16 closed, assigned to dclement8

[2016-12-13 17:05] Super-Baleine opened #81 "fwrite() & life time for upload not achieved"
Add "uploading" in the files table

- 0 : the whole file isn't uploaded, its life time is 24hours
- 1 : the file is uploaded, no life time

[2016-12-15 16:53] Super-Baleine commented on #4
@hitoshi54 can we close now ?

[2016-12-15 17:13] Super-Baleine commented on #34
updated: delete from the database too

[2016-12-19 12:06] ghost opened #83 "Sketch proposition"
I made a sketch of the Muonium index page. Does it interest you ?
![Screenshot](http://s23.postimg.org/3qczwrmyh/Snap_Crab_Muonium_Mozilla_Firefox_2016_12_19_12.png)

[2016-12-19 15:51] Super-Baleine commented on #83
Hey,
That's really cool, thanks!
But @adlewic , our designer is already working on, if you want to contribute to the design, then please, open a new issue in the website repo.

PS : this issue isn't relative to the current repo', please, the repo of the website is [there](https://github.com/muonium/website)

[2016-12-19 15:56] #83 closed, assigned to nobody

[2016-12-19 19:06] Super-Baleine commented on #4
The SJCL implement was made differently, checkout our crypto-system in public/js/interface/modules/Encryption.js

[2016-12-19 21:34] Super-Baleine opened #84 "Key derivation optimization - Decryption side"
# Problem
Currently, the key is derived for every chunks.

# //TODO
1. Get the first chunk of the file
2. Derive the key from the obtained chunk
3. decrypt the others chunks without deriving the key again

**PS: don't touch the encryption side, that's okay for it**

[2016-12-20 10:04] dclement8 commented on #84
Done.

[2016-12-20 10:04] #84 closed, assigned to dclement8

[2016-12-21 17:30] dclement8 commented on #4
Before closing this issue, what about the CEK in a cookie ?

[2016-12-21 17:33] Super-Baleine commented on #4
The passphrase (alias "KEK) and the CEK must be stored locally.

Then cookie or localStorage, what's the more secure solution ?

[2016-12-21 20:32] ghost commented on #4
[http://stackoverflow.com/questions/3220660/local-storage-vs-cookies#3220802](http://stackoverflow.com/questions/3220660/local-storage-vs-cookies#3220802)

[2016-12-21 20:37] Super-Baleine commented on #4
Oh yea, what a dick... (We can see there that I'm not a coder)
Then @hitoshi54 we'll use sessionStorage.

[2016-12-21 20:37] Super-Baleine commented on #4
btw, thanks @Ne0blast 💟

[2016-12-21 20:38] Super-Baleine commented on #4
#71 go there now.

[2016-12-21 20:39] Super-Baleine commented on #71
updated

[2016-12-22 09:29] Super-Baleine opened #86 "File replacement"
I click on "OK", but nothing happens... But I've the cross to cancel... But that's all, no percentage or anything else...

[2016-12-22 09:30] Super-Baleine commented on #59
Works fine now.

[2016-12-22 09:30] #59 closed, assigned to dclement8

[2016-12-22 09:31] Super-Baleine commented on #9
Useless because Imelda is working on the new design.
I close then.

[2016-12-22 09:31] #9 closed, assigned to adlewic

[2016-12-22 10:26] Super-Baleine commented on #86
Said nothing.

[2016-12-22 10:26] #86 closed, assigned to dclement8

[2016-12-22 10:37] Super-Baleine commented on #77
Works fine now.

[2016-12-22 10:37] #77 closed, assigned to ayagebreel

[2016-12-22 13:48] Super-Baleine opened #87 "Don't store the KEK in the db - Security improvement"
# Problem

Currently, the KEK is vulnerable to the MITM attacks (even if we configured properly TLS and double-hash the KEK, zero risk doesn't exist, we need the best security).
PS : don't forget that NSA have a big computing power.

# Solution
## Registration
- Generate a random CEK **(done)**
- Encrypt and base64encode it **(done)**
- Store it in user->"cek" column **(done)**

## Log in
- Get th

[2016-12-22 13:50] Super-Baleine commented on #71
Please, refer to #87

[2016-12-22 14:05] Super-Baleine commented on #71
updated localStorage to sessionStorage because localStorage would involves a security issue.

[2016-12-23 00:06] Super-Baleine commented on #36
@ayagebreel you have not to work on it anymore, Dylan is on :)

[2016-12-23 15:23] ghost opened #88 "Can't create account"
Message in http://127.0.0.1:8080/core/Register :
/core/public/js/src/crypto/implementation/gen_cek.js was not found on this server

-> ReferenceError: genCek is not defined (log_register.js:74:7)

Using latest version of master's branch

[2016-12-23 16:43] ghost opened #89 "Correction for the logo display in Register et Login pages"
In :
- public/css/Register/home_register.css
-> Replace "height: 13vh;" at line 41 by "height: 8vh;padding-left:1vw;"

- public/css/Login/home_login.css
-> Same thing

![Screenshot](http://www.hostpic.org/images/1612232213040111.png)

[2016-12-23 16:47] Super-Baleine commented on #88
Yea, we're currently working on the #87 . That's normal :)

[2016-12-23 16:47] #88 closed, assigned to nobody

[2016-12-23 16:47] Super-Baleine commented on #89
#9

[2016-12-23 16:47] #89 closed, assigned to gciliberti

[2016-12-23 17:03] ghost commented on #88
Ah okay

[2016-12-23 17:05] Super-Baleine commented on #88
Yea x)
But don't worry, in a few weeks it'll be done, we're on x)

[2016-12-23 17:25] Super-Baleine commented on #89
@adlewic I just assign you cuz you're the designer but that's just formal.

[2016-12-23 18:44] ghost commented on #88
So you delay the release of the private beta ?

[2016-12-23 18:49] Super-Baleine commented on #88
We'll try to go out the private beta on the December 31th, but stop asking that... The private beta will go out once we'll be ready.

[2016-12-23 18:53] Super-Baleine commented on #4
Oops, the CEK encryption isn't done, I reopen :)

[2016-12-23 19:57] Super-Baleine opened #90 "CEK & KEK verify"
Because the CEK and the KEK are stored in sessionStorage, we have to verify for each loading of each page if it exist in sessionStorage "cek" and "kek".

If not, then logout.

[2016-12-23 20:28] Super-Baleine commented on #87
CEK generation & encrytion: done.
Get the CEK, decrypt it and store it with sessionStorage when the user log in: **done** (but take a look at log_connect.js, I'm not a coder xD)

[2016-12-23 20:30] Super-Baleine opened #91 "PP counter deletion & "passphrase" deletion"
Delete the useless code about ppcounter.

[2016-12-23 20:36] Super-Baleine commented on #17
Updated, that's probably more explicit now.

[2016-12-23 20:41] #24 closed, assigned to dclement8

[2016-12-23 20:42] Super-Baleine commented on #71
Done.

[2016-12-23 20:42] #71 closed, assigned to ayagebreel, dclement8

[2016-12-23 20:43] Super-Baleine commented on #79
Nobody cares so... i close xD

[2016-12-23 20:43] #79 closed, assigned to dclement8

[2016-12-23 20:48] Super-Baleine commented on #78
I close cuz we'll migrate to MongoDB.

[2016-12-23 20:48] #78 closed, assigned to nobody

[2016-12-23 21:14] ghost commented on #24
You can create a new file with no content, in that case, the content of the new file is the AES encryption of a empty string no ?

[2016-12-23 21:15] Super-Baleine commented on #24
Yea, but that's useless as fuck ^^

We'll implement the embedded webapps later, once implemented, you'll be able to create what you want.

[2016-12-23 21:16] Super-Baleine commented on #68
https://github.com/muonium/core/commit/088f38a188b6ab4180c3a537b4bee085826632f4
I tried to code the frontend, just have to recode the backend now x)

[2016-12-23 21:17] Super-Baleine commented on #17
I tried to code the frontend side : https://github.com/muonium/core/commit/088f38a188b6ab4180c3a537b4bee085826632f4

You just have to code the backend now x)

[2016-12-23 23:30] Super-Baleine commented on #90
https://github.com/muonium/core/commit/5186372e4d174068748ed8b9274a86f4630d397a
I tried to write the code for this issue, tell me if I can close.

[2016-12-25 08:52] Super-Baleine commented on #57
#67

[2016-12-25 08:52] #57 closed, assigned to dclement8

[2016-12-25 08:53] #75 closed, assigned to nobody

[2016-12-25 19:02] Super-Baleine commented on #87
![diagramme1](https://cloud.githubusercontent.com/assets/13090164/21472480/0386190e-cadd-11e6-9cbd-62341d81f8db.png)

[2016-12-26 19:50] #36 closed, assigned to dclement8

[2016-12-28 01:38] Super-Baleine commented on #87
I updated to be more explicit

[2016-12-28 15:17] Super-Baleine opened #94 "Registration :: verifiy email format"
verify the email format at the backend for the registration.

[2016-12-31 06:54] #39 closed, assigned to ayagebreel

[2016-12-31 06:54] #34 closed, assigned to ayagebreel

[2017-01-02 13:04] Super-Baleine opened #95 "update cloud.sql"
delete what refers to ppcounter and passphrase.

[2017-01-02 13:31] Super-Baleine commented on #94
said nothing xD

[2017-01-02 13:31] #94 closed, assigned to dclement8

[2017-01-03 05:29] Super-Baleine commented on #87
Hello,
Now you just have to test the code at the cek_kek2 branch.

[2017-01-05 12:43] Super-Baleine commented on #87
Tested with @ayagebreel , works fine.

[2017-01-05 12:43] #87 closed, assigned to ayagebreel, dclement8

[2017-01-05 12:43] #91 closed, assigned to ayagebreel, dclement8

[2017-01-05 12:44] #4 closed, assigned to Super-Baleine, dclement8

[2017-01-05 12:46] Super-Baleine opened #96 "Download process :: Nothing happens"
When the user click on "download", nothing happens.
See with @ayagebreel , she detected the bug.

[2017-01-05 13:02] dclement8 commented on #96
In which browser it happens ?

[2017-01-05 13:03] Super-Baleine commented on #96
She was on Chrome

[2017-01-05 13:12] Super-Baleine commented on #96
PS: we're talking about the cek_kek2 branch right now, not interface or master.

[2017-01-05 14:10] Super-Baleine commented on #17
@ayagebreel tested, works fine.

[2017-01-05 14:10] #17 closed, assigned to ayagebreel

[2017-01-05 15:13] #90 closed, assigned to ayagebreel, dclement8

[2017-01-05 15:16] Super-Baleine opened #97 "Lostpass page :: rewrite the whole code"
If the user lost his passphrase, then:
- delete all his files and folders
- the user redefines his passphrase
- a new CEK is generated

**Related to: https://github.com/muonium/core/issues/68**

If the user lost his password, then:
- update his password in the database

[2017-01-05 19:16] Super-Baleine opened #99 "drag and drop"
https://en.wikipedia.org/wiki/Drag_and_drop

Implement drag and drop feature to upload files. (Not folders).

[2017-01-07 10:26] Super-Baleine opened #100 "Numbers of elements in a folder"
Display the number of elements in a folder beside the size of it.

[2017-01-07 11:23] #96 closed, assigned to dclement8

[2017-01-07 11:37] ghost opened #101 "Unable to create a folder"
When I'm entering the name of my folder and pressing enter key, nothing happen (nothing in the db)

[2017-01-07 11:39] ghost opened #102 "Right clic bug"
When I'm clicking on the menu of the right clic, sometimes nothing happen (cf. clic on upload on the "..." part.

[2017-01-07 11:39] Super-Baleine commented on #101
Personally I don't have this problem.

[2017-01-07 11:40] Super-Baleine commented on #102
The function "move to" isn't coded yet.

[2017-01-07 11:40] #102 closed, assigned to nobody

[2017-01-07 11:40] ghost opened #103 "Suggestion : Detect automatically OS and Browser on the bug section"

[2017-01-07 11:40] ghost opened #104 "Suggestion : Let the user attach a screenshot of the current page (like PM)"

[2017-01-07 11:41] Super-Baleine commented on #104
It doesn't work very well, rejected.

[2017-01-07 11:41] #104 closed, assigned to nobody

[2017-01-07 11:41] ghost commented on #102
When i'm clicking on "upload..." sometimes nothing happen

[2017-01-07 11:43] Super-Baleine commented on #102
Okay, right now I just clicked 10 times on the "..." of "Upload a file", I didn't succeed to reproduce the bug.

[2017-01-07 11:45] ghost commented on #101
Informations :
--------------
POST http://127.0.0.1:8080/core/User/AddFolder
Host: 127.0.0.1:8080
User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: fr,fr-FR;q=0.8,en-US;q=0.5,en;q=0.3
Accept-Encoding: gzip, deflate
Referer: http://127.0.0.1:8080/core/User
Content-Type: appli

[2017-01-07 11:46] ghost commented on #102
Sorry, it was on "Create folder..." :)

![http://www.hostpic.org/images/1701071717590101.png](http://www.hostpic.org/images/1701071717590101.png)

[2017-01-07 11:50] Super-Baleine commented on #102
Yea, sometimes it doesn't work, we know it.
We don't consider it as a bug because there are several improvements to do at the right click actions.

[2017-01-07 11:52] Super-Baleine commented on #101
@hitoshi54 and @ayagebreel did you get this bug while testing ?

[2017-01-07 12:06] Super-Baleine commented on #101
@Ne0blast were you on the 'interface' branch, last commit ?

[2017-01-07 12:15] ghost commented on #101
It was commit 91cf54d098611d8c1f483c5406713a26a584fe95

[2017-01-07 12:23] Super-Baleine commented on #101
Okay

[2017-01-07 12:30] Super-Baleine commented on #101
Perhaps you should delete core/, clone again, and delete and next create a new database, and at last, execute the last cloud.sql located at the _interface_ branch.

[2017-01-07 12:37] #95 closed, assigned to dclement8

[2017-01-07 14:32] ayagebreel commented on #101
Now I created folder and it created successfully and I found it in Data Base also.

[2017-01-07 14:39] Super-Baleine commented on #101
Then there isn't any problem.
@Ne0blast I think the trouble is at your side.

[2017-01-07 14:39] #101 closed, assigned to dclement8

[2017-01-07 15:43] Super-Baleine commented on #5
Labels for later, I close.

[2017-01-07 15:43] #5 closed, assigned to ayagebreel, dclement8

[2017-01-07 15:55] Super-Baleine opened #105 "Favorites management"
Can manage files set as favorite:
- Delete
- Rename
- Download
- Unset from favorites

[2017-01-07 15:57] Super-Baleine opened #106 "Recents"
Display the 10 most recent files.

The user can:
- Delete
- Rename
- Set as favorite
- Download

[2017-01-07 15:59] Super-Baleine opened #107 "Transfers display"
Create a transfers history of downloaded and uploaded files while one month.

**We'll just use this section to display a history of the user's transfers.**

[2017-01-07 16:02] Super-Baleine commented on #18
Done in another way to proceed.

[2017-01-07 16:02] #18 closed, assigned to dclement8

[2017-01-07 16:02] Super-Baleine commented on #67
Do we really need this with the new uploading system ?

[2017-01-07 16:17] Super-Baleine opened #108 "clean up the views"
listing atomic etc... clean up current useless things.

[2017-01-07 16:37] Super-Baleine opened #109 "File sharing"
**THIS IS THE MODEL "DEFINED-BY-PASSWORD"**

# Database
In the "files" table, add a "dk" column.

# Cryptography - Context
- Each files has its own derived key
- The derived key has to be encrypted under the password defined by the user
- Once encrypted, the dk has to be stored in the DB.

# When the user click on "share this file"

![file_sharing](https://cloud.githubusercontent.com/assets/130901

[2017-01-07 22:12] Super-Baleine commented on #109
updated

[2017-01-07 22:23] Super-Baleine commented on #109
Final update

[2017-01-08 10:53] Super-Baleine commented on #60
In fact it's already done.

[2017-01-08 10:53] #60 closed, assigned to ayagebreel

[2017-01-08 11:02] ghost commented on #60
A little suggestion : when you click on the location's file, it open the folder

[2017-01-08 11:02] Super-Baleine commented on #60
thanks

[2017-01-08 14:19] Super-Baleine commented on #109
Final of the final update
I made several kawaii diagrams, and I added some details

[2017-01-08 17:18] Super-Baleine opened #110 "Quick issue :: Help button"
When the user click on the help button (or section, call this as you wanna), open a new tab to https://github.com/muonium/core/wiki/%5BHELP%5D-:-User-Experience

[2017-01-08 21:36] #110 closed, assigned to dclement8

[2017-01-09 09:53] #76 closed, assigned to dclement8

[2017-01-09 09:57] ghost opened #112 "When opening trash and closing it, redirected on the root folder"

[2017-01-09 09:59] ghost opened #113 "Renaming file doesn't work (no response in the request and no changes in db)"
When i'm in a folder.
Example, trying to rename test1/test2/blabla.txt in test1/test2/blabla2.txt
When i'm on the root it works

[2017-01-09 10:07] Super-Baleine commented on #112
Hi,
It's normal, don't worry.

[2017-01-09 10:07] #112 closed, assigned to nobody

[2017-01-09 10:09] Super-Baleine commented on #113
I verified, it's a real bug.

[2017-01-09 10:20] ghost commented on #112
Okay so no problem :)

[2017-01-09 17:03] dclement8 commented on #113
Fixed

[2017-01-09 17:03] #113 closed, assigned to dclement8

[2017-01-09 17:04] dclement8 commented on #108
Done.

[2017-01-09 17:04] #108 closed, assigned to dclement8

[2017-01-09 19:07] Super-Baleine opened #115 "Encrypt the title of the files"
Encrypt the title of the file, hex encode it, put it as the new title of the file

[2017-01-09 19:14] ghost commented on #115
Is it really useful ? You should just generate a token no ?

[2017-01-09 19:16] Super-Baleine commented on #115
Metadata are as important as the file's content.

[2017-01-09 19:17] ghost commented on #115
When you use the term "title" what do you mean ? The file's name ?

[2017-01-09 19:20] Super-Baleine commented on #115
File's title is a part of the metadata, we need to protect the metadata as we protect the file's content. Starting with the file's title.

[2017-01-11 09:28] #100 closed, assigned to ayagebreel

[2017-01-12 20:33] Super-Baleine opened #116 "Quick issue :: buttons strings in jsons"
Submit Query buttons

[2017-01-14 05:56] Super-Baleine commented on #89
@Voxyd there is the solution, you're the only one who wanna fix that, then just do it boi 💟

[2017-01-16 16:05] Super-Baleine opened #117 "Double Auth doesn't work -> email isn't sent"
In the DB I've the code, I can put in the textbox and it works... but I don't receive the email...

[2017-01-19 18:11] ghost opened #118 "Question"
What is the meaning of a red size in the interface ?

[2017-01-19 19:10] Super-Baleine commented on #118
Upload not finished, some chunks are written, but not the totality.

[2017-01-19 19:10] #118 closed, assigned to nobody

[2017-01-21 08:46] ghost commented on #118
Okay thanks

[2017-02-01 20:38] Super-Baleine opened #121 "copy paste within a folder"
at the root: works fine
Within a folder:

![capture du 2017-02-01 21 40 25](https://cloud.githubusercontent.com/assets/13090164/22525259/caee4bae-e8c6-11e6-8b6e-75e521c1d64b.png)

[2017-02-11 16:59] #117 closed, assigned to dclement8

[2017-02-14 20:22] #121 closed, assigned to dclement8

[2017-02-14 20:23] Super-Baleine commented on #121
<3

[2017-02-15 14:52] #81 closed, assigned to dclement8

[2017-02-15 16:27] Super-Baleine commented on #81
💟

[2017-02-15 16:39] Super-Baleine opened #123 "file replacement"

[2017-02-19 19:37] #116 closed, assigned to dclement8

[2017-02-23 09:10] ghost opened #124 "Spam "folder creation" in console possible"

[2017-02-23 09:15] Super-Baleine commented on #124
It doesn't matter. We're building the application with GUI, not a CLI application. :)

[2017-03-07 19:51] Super-Baleine commented on #124
Oops sorry lmao
I read "impossible" instead of "possible", my bad.

We'll fix this soon.

[2017-03-19 17:44] Super-Baleine opened #127 "small design improvement"
# Branch
newDesign

# TODO

@Voxyd you spread away the ideas.

[2017-03-31 10:30] Super-Baleine commented on #123
done by Dylan

[2017-03-31 10:30] #123 closed, assigned to dclement8

[2017-04-18 11:14] Super-Baleine commented on #127
Good work guys x)

[2017-04-18 11:14] #127 closed, assigned to dclement8, gciliberti

[2017-04-18 11:16] #124 closed, assigned to dclement8

[2017-05-08 14:29] ghost opened #131 "Bug : Download doesn't work"
Error when downloading file :
Aborting 1  Files.js:42:4
File splitted in 1 chunks  Decryption.js:92:7
Decrypting chunk 1  Decryption.js:113:3
Got chunk 1 contents in 90 ms  Decryption.js:129:6
Key derivation process...  Decryption.js:143:7
Error
error { target: IDBOpenDBRequest, isTrusted: true, currentTarget: IDBOpenDBRequest, eventPhase: 2, bubbles: true, cancelable: true, defaultPrevented: fals

[2017-05-08 14:34] ghost opened #132 "Bug : dual authentication doesn't work"
The mail isn't sended

[2017-05-08 15:20] Super-Baleine commented on #132
hi, are you using Mui on your own server or on http://photon.muonium.ch?

[2017-05-08 16:28] ghost commented on #132
Rectification, it is sended but after 5 minutes :) (on the Mui plateform)

[2017-05-08 16:31] Super-Baleine commented on #132
Currently we've several Muonium servers, what server are you on? photon.muonium.ch?

[2017-05-08 16:34] ghost commented on #132
https://photon.muonium.ch/neutron/Login

[2017-05-08 16:36] Super-Baleine commented on #132
Well, I was just asking the domain name, thanks. We've the same issue on another server, I'm on.

[2017-05-08 16:36] #132 closed, assigned to Super-Baleine

[2017-05-08 17:22] Super-Baleine commented on #131
@Ne0blast is the bug still up there?
ref. https://github.com/muonium/core/commit/490c6c39b54142182f42d888ec40ca0dbb981094

[2017-05-09 08:07] ghost commented on #131
Still there :)

When i'm debugging the event, i'm getting this : "The operation failed for reasons unrelated to the database itself and not covered by any other error code." =>"UnknownError"

[2017-05-09 13:11] Super-Baleine commented on #131
Well, can you give me more detail please?
- when it happens
- which script
- it's recursive (every time) or ponctual (somtimes)
- what's your web browser ? its release?
- if you're on chrom*, have you allowed Muonium to store data on your computer?

[2017-05-11 07:04] ghost commented on #131
- When i attempt to download a file (always)
-  idb.filesystem.min.js:15:250
- Always
- Firefox 53.0.2 (last)

[2017-05-11 14:42] Super-Baleine commented on #131
I'm running on Firefox 53.x too but I don't have this trouble. Perhaps you disabled something for the photon.muonium.ch domain name.

[2017-05-11 15:21] Super-Baleine commented on #67
don't need it anymore

[2017-05-11 15:21] #67 closed, assigned to dclement8

[2017-05-12 19:00] Super-Baleine commented on #131
We got the bug, we're working on.

[2017-05-25 19:45] #107 closed, assigned to dclement8

[2017-06-03 10:19] ghost commented on #131
After debugging your script, it appears that there's a problem when SJCL is trying to derivate key.

In filename Decryption.js at line 137, you want to split a variable : `chk`. But ```split()``` is a function that only work on string and `chk` isn't a string, it's a `Uint8Array`. So when you're trying to do :
[code]

You got an error : `TypeError: chk.split is not a function` (when debugging) so

[2017-06-03 11:20] Super-Baleine commented on #131
Actually the bug appears because Firefox change some things in indexeDB in every release.

We know how to fix the bug, but the thing's that we don't have the time to work on it.

You can still use Muonium on Chromium, it works fine.

[2017-06-03 14:16] ghost commented on #131
Okay, tested on edge and it works.

[2017-06-03 14:20] Super-Baleine commented on #131
Edge is very low compared to Chrom*.

And using an encrypted service over a Microsoft product doesn't provide you any privacy.

[2017-06-03 14:25] ghost commented on #131
I know, it was just for testing but it's the same on a google's product

[2017-06-11 10:26] Super-Baleine opened #133 "Double-click on a file --> download it"

[2017-07-31 20:26] #133 closed, assigned to ayagebreel

[2017-08-06 18:14] Super-Baleine opened #137 "JWT implementation"
# Purposes

* Finally leave the PHP Sessions
* Allow the user to run Muonium on several devices
* Finally allows the infrastructure team to deploy a round-robin load balancing algorithm
* Docker migration

[2017-08-07 12:38] ghost opened #138 "Suggestion : Compress data in front-end before upload"
I had a idea last night : You can compress the file data using https://github.com/LZMA-JS/LZMA-JS to reduce file size and encrypt it after that.
When all the content is compressed and encrypted, you can upload it :)

[2017-08-07 12:40] Super-Baleine commented on #138
We want to make Muonium as fast and light as possible.

Declined. Thanks anyway :)

[2017-08-07 12:40] #138 closed, assigned to nobody

[2017-08-07 12:41] ghost commented on #138
Ok ;)

[2017-08-07 12:42] ghost commented on #138
And through a back-end process ?

[2017-08-07 12:46] Super-Baleine commented on #138
The goal isn't to make a software full of shitty implementations that would make it harder to maintain.

We're focusing on lightness, speed, and security, not on compression, in this case. Moreover, it'd take too much load, at the front-end side, but also at the back-end side in the case we implement this at the server-side.

[2017-08-07 12:47] ghost opened #139 "Suggestion : Redraw the interface to have a better look"
It's me again. I think Mui could attract more users if it have a more beautiful interface. I've some idea (and time) if you want it :)

[2017-08-07 12:49] Super-Baleine commented on #139
We don't have the time to focus our development in the design stuffs. Feel free to make some draws and contribute as much as you wanna.

Thanks.

[2017-08-07 12:49] #139 closed, assigned to nobody

[2017-08-07 15:28] ghost commented on #139
Ok :) Good for me

[2017-08-26 16:13] Super-Baleine commented on #131
Tested on Firefox 57, issue seems solved.

[2017-08-26 16:13] #131 closed, assigned to dclement8

[2017-08-27 09:08] ghost commented on #131
Tested on Firefox 56.0b6 (64-bit) : worked perfectly

[2017-08-27 12:59] Super-Baleine commented on #131
Thanks for your feedback.

[2017-08-27 17:09] ghost commented on #131
Np :)

[2017-08-28 16:24] ghost opened #140 "Feature : Multi-selection when CTRL is pressed"
Don't know if it's already done or if you plan do to this :)

[2017-08-28 17:04] Super-Baleine commented on #140
Please, create issue only for relevant stuffs. If you're not sure about something, don't open any issue, because it notifies us, hence we're quite distracted for actually nothing.

[2017-08-28 17:05] Super-Baleine commented on #140
About multi-selection, we created a mode "multi-selection", feel free to enable it.

[2017-08-28 17:05] #140 closed, assigned to nobody

[2017-08-28 19:33] Super-Baleine opened #141 "Fix "ok" buttons"
![capture d ecran de 2017-08-28 21-31-50](https://user-images.githubusercontent.com/13090164/29790043-86e87cc0-8c38-11e7-89b1-b5435efbde2d.png)

[2017-08-28 20:14] dclement8 commented on #141
Fixed

[2017-08-28 20:14] #141 closed, assigned to dclement8

[2017-08-28 22:13] Super-Baleine opened #143 "SRP implementation - One Password"
# Purposes

* Generate a session key

[2017-08-29 16:20] Super-Baleine opened #144 "refresh when creating a folder"
Let's just use the `changePath` function when a folder got created.

[2017-08-29 16:22] Super-Baleine commented on #73
Perhaps useless if we use a master-master architecture. Closing it while making some studies and tests.

[2017-08-29 16:22] #73 closed, assigned to dclement8

[2017-09-06 10:58] ghost opened #145 "Suggestion : Use Paypal REST API instead of classic form"
Isn't it better to use Paypal API to :
- Manage Paypal button ([https://developer.paypal.com/demo/checkout/#/](https://developer.paypal.com/demo/checkout/#/))
- Verify payment using the REST API ([https://developer.paypal.com/docs/api/payments/](https://developer.paypal.com/docs/api/payments/))

I think it's easiest to manage in the future and more secure (perhaps ?) :)

[2017-09-06 11:00] Super-Baleine commented on #145
Hi,
Why do you think it'd be more secure?

[2017-09-06 11:22] ghost commented on #145
When you use the form, you can edit it in local (input hidden) and send data to server. I think when you're using the API, it's directly managed by Paypal (without hidden input), so you can't send random values.

Plus, when you want to verify the payment, you just have to use the paymentID. If you want, i can send you by mail what i've done for CosmOS (using REST API).

[2017-09-06 11:45] Super-Baleine commented on #145
@dclement8 might take a look at it.

[2017-09-13 07:07] ghost opened #146 "Suggestion : Shop in the user interface (future improvment)"
Instead of just a storage upgrade choice, you can purpose a sort of shop with multi-choices upgrades or to switch to others plans (if the user can choose one of them). Plus, you can sell your shirts you've show in the indiegogo campain (Don't know if you've them in stock).

It's just a suggestion for the future of Mui, not realy for now :)

[2017-09-13 07:13] ghost commented on #48
Do you want me do draw them ?

[2017-09-13 10:27] Super-Baleine commented on #48
We already have them. We just need to adapt them. Thanks.

[2017-09-13 10:29] Super-Baleine commented on #146
Hi,

In the future, we plan to propose several offers in addition to the current one.

For the tshirts, this is not related to the web application. We won't put a shop inside the web application itself.

[2017-09-13 10:29] #146 closed, assigned to nobody

[2017-09-13 19:02] dclement8 commented on #145
Hi, it's already secure but yes it's planned in the near future, it will be easier to manage in the long term.

[2017-09-14 05:26] ghost commented on #145
Good to hear. If you want i've already done some scripts (server-side). I can send them to you :)

[2017-09-14 09:34] Super-Baleine commented on #145
Hi,
The project is a free software. Feel free to contribute without asking. There's no point asking. Check the CONTRIBUTING.md file and get going if you wanna.

-------- Original Message --------
On 14 Sep 2017, 07:26, Romain Claveau wrote:

[2017-09-14 12:05] ghost commented on #145
Yes but i've adapted it for my own application and i don't really think it'll fit your core system without modification. I paste it there so you don't have to search the file anywhere :)

[2017-09-14 12:13] Super-Baleine commented on #145
Feel free to try implementing it if you wanna. We're currently working on something else, this is not a priority for us.

[2017-09-20 10:06] #144 closed, assigned to dclement8

[2017-09-20 14:11] #103 closed, assigned to nobody

[2017-09-22 07:35] Super-Baleine opened #148 "update the MySQL scheme in CONTRIBUTING.md"

[2017-10-30 22:59] Super-Baleine commented on #148
can we close it?

[2017-10-30 23:00] Super-Baleine opened #150 "review crons"

[2017-11-01 20:56] dclement8 commented on #148
Yes I updated it ;)

[2017-11-01 20:56] #148 closed, assigned to dclement8

[2017-11-01 21:03] dclement8 commented on #145
I close this issue because we use currently CoinPayments API instead of PayPal API.

[2017-11-01 21:03] #145 closed, assigned to dclement8

[2017-11-01 23:35] Super-Baleine commented on #109
[fileSharing.txt](https://github.com/muonium/core/files/1436029/fileSharing.txt)

Save it here

[2017-11-05 23:12] Super-Baleine opened #151 "Big icons as default"

[2017-11-09 22:08] #151 closed, assigned to dclement8

[2017-11-09 22:08] #150 closed, assigned to dclement8

[2017-11-22 18:18] gciliberti opened #152 "Extensions not supported"
There is a problem with (.c,.cpp) extensions.

Those files cannot be deleted/downloaded (possible to move them to trash).

It might be possible that this problem occurs with more extensions.

[2017-11-24 19:03] Super-Baleine commented on #152
Fixed.

[2017-11-24 19:03] #152 closed, assigned to Super-Baleine, dclement8

[2017-11-26 01:43] Super-Baleine opened #153 "can rename with same name as another file in the same directory"
I could rename a file with the same filename as another of the same directory, it shouldn't be possible.

[2017-11-26 16:07] gciliberti opened #154 "PROBLEM UPLOADING FILE INTO A FOLDER [URGENT]"
When uploading a file into a folder, it goes to the root.

[2017-11-27 23:14] Super-Baleine commented on #154
Thanks @dclement8 !

[2017-11-27 23:14] #154 closed, assigned to dclement8

[2017-12-03 20:13] Super-Baleine commented on #137
see https://github.com/muonium/server/issues/1

[2017-12-03 20:13] #137 closed, assigned to dclement8

[2017-12-09 14:57] Super-Baleine opened #155 "can put a folder in itself"
/blah/toto can be put in /blah/toto, this should be impossible.

[2017-12-12 14:06] Super-Baleine commented on #155
Great work!

[2017-12-12 14:06] #155 closed, assigned to nobody

[2017-12-15 13:24] Super-Baleine commented on #153
Accordingto @Dushy , this issue only concerns the front-end. @dclement8 get assigned then.

[2017-12-17 14:26] Super-Baleine opened #157 "apply the new design"
The details will come later.

[2017-12-19 02:40] Super-Baleine commented on #109
gg guys

[2017-12-19 02:40] #109 closed, assigned to dclement8

[2017-12-20 17:04] Super-Baleine commented on #157
Here's the current design :

[Mui.zip](https://github.com/muonium/core/files/1576398/Mui.zip)

[2017-12-30 13:19] Super-Baleine commented on #157
New design sent by Seth, checkout your mailbox in order to access the project.

[2018-02-05 18:44] #157 closed, assigned to dclement8

[2018-02-05 21:06] Super-Baleine commented on #153
fixed by @Dushy

[2018-02-05 21:06] #153 closed, assigned to dclement8